body {
    background-image: url("blue_metal.png");
    background-attachment: fixed;
    background-repeat: repeat;
    
    font-family: "Verdana", sans-serif;
}

#navbar {
    overflow: auto;
    background-color: royalblue;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: azure;
}

#navbar a:hover {
    background-color: darkblue;
}

.linkButtonInline {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    
    text-decoration: none;
    background-color: royalblue;
    color: azure;
}

.linkButtonBlock {
    display: block;
    padding: 20px;
    margin: 5px;
    
    text-decoration: none;
    background-color: royalblue;
    color: azure;
}

.unstyledList {
    list-style-type: none;
    padding: 0;
}

#content {
    margin: 0 auto;
    padding: 10px;
    max-width: 1000px;
    overflow: auto;
    background-color: azure;
}

#chatBox {
    overflow-y: scroll;
    height: 400px;
    margin-bottom: 5px;
    
    border: 1px;
    border-style: solid;
    border-color: darkgray;
}

#chatBox ul {
    list-style-type: none;
}

#chatBox li {
    margin: 2px;
}

#chatBox a {
    text-decoration: none;
    color: blue;
}