<div>
    <!-- Original Post -->
    <h1 style="color:white;">From {{originalPost.origin}} to {{originalPost.dest}}</h1>
    <h3 style="color:white;"><a href="/#/profile/{{originalPost.author}}" style="color:white;">{{originalPost.authName}}</a></h3>
    <p style="color:white;">{{originalPost.date}}</p>
    <p style="color:white;">{{originalPost.message}}</p>
    <hr />
    
    <!-- Replies -->
    <ul>
        <li  style="color:white;" ng-repeat="reply in replies">
            <p>
                <b style="color:white;"><a href="/#/profile/{{originalPost.author}}" style="color:white;">{{reply.authName}}</a></b>
                <br />
                {{reply.date}}
                <br />
                {{reply.message}}
            </p>
        </li>
    </ul>
    <hr />
    
    <!-- Submit Form -->
    <form style="color:white;" ng-submit="postReply()">
        <br />
        Reply:
        <br />
        <textarea ng-model="message" rows="5" cols="120" required></textarea>
        <br />
        <input class="btn-primary" type="submit" value="Submit">
    </form>
</div>