<div >
    <!-- Original Post -->
    <h1>From {{originalPost.origin}} to {{originalPost.dest}}</h1>
    <h3><a href="/#/profile/{{originalPost.author}}">{{originalPost.authName}}</a></h3>
    <p>{{originalPost.date}}</p>
    <p>{{originalPost.message}}</p>
    <div id="map" style="width:1000px;height:750px;"></div>
    <button ng-click="getDirections()">Get Directions</button>
    <hr />
    
    <!-- Replies -->
    <ul>
        <li ng-repeat="reply in replies">
            <p>
                <b><a href="/#/profile/{{originalPost.author}}">{{reply.authName}}</a></b>
                <br />
                {{reply.date}}
                <br />
                {{reply.message}}
            </p>
        </li>
    </ul>
    <hr />
    
    <!-- Submit Form -->
    <form ng-submit="postReply()">
        <br />
        Reply:
        <br />
        <textarea ng-model="message" rows="5" cols="120" required></textarea>
        <br />
        <input class="btn-primary" type="submit" value="Submit">
    </form>
</div>

