<head>
    
    <title>Reset Password</title>

    <link href="./stylesheet.css" rel="stylesheet" type="text/css" />

   
</head>


<h1 class="title">
Change Password
</h1>


<!--
<form ng-submit="resetPassword()" ng-show="forgotPassword">
        <br/> Email:
        <input type="text" size="30" ng-model="email" placeholder="example@email.com">
        <input class="btn-primary" type="submit" value="Reset Password">
    </form>
    <input type="button" value="{{message()}}" ng-click="isVisible()" />

-->
<div ng-app="myApp" ng-controller="myCtrl">
    <form class="signup" ng-submit="resetPassword()" ng-show="forgotPassword">
        <table style="width:100%;color:#C0C0C0;">
            <tr>
                <td>Current Password:</td>
                <td>
                    <input type="password" name="password" placeholder="Old Password" ng-model="old_pss">
                </td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td>
                    <input type="password" name="password" placeholder="New Password" ng-model="new_pss">
                </td>
            </tr>
        </table>
       <input ng-click="goHome()" class="btn-primary" type="submit" value="Reset Password">
    </form>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope,goHome) {
    document.location.href = "/#/forum";
});
</script>
